<head>
  <%= stylesheet_link_tag 'portfolio/intro', 'data-turbo-track': 'reload' %>
</head>

<div class='intro-container'>
  <p class='intro-label'>Hi my name is</p>
  <p class='intro-name-label'>Sonny Huynh.</p>
  <p class='intro-quip-label'>I build things for fun!</p>
  <div>
    <p class='intro-description-label'>I am a Phoenix-based full-stack software engineer who enjoys solving unique problems and learning new things.</p>
    <div class='flex'>
      <a href='/#Projects' class='mr-2 sm:mr-3 md:mr-5'>
        <div class='intro-button'><p class='intro-button-text'>My Projects</p></div>
      </a>
      <a href='/portfolio/resume'>
        <div class='intro-button'><p class='intro-button-text'>My Experiences</p></div>
      </a>
    </div>
  </div>
</div>