:root {
    --surface-color: #f8f9fa;
    --surface-secondary-color: #e8e8e8;
    --primary-color: #708f61;
    --secondary-color: #8cad7b;
}

.social-link {
    color: black;
}

.social-link:hover {
    color: var(--primary-color)
}

.social-icon {
    width: 2rem;
    height: 2rem;
    transition: all .10s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}

.image-container-top {
    height: 13rem;
    width: auto;
    background-image: url("PortraitWide.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.image-container-right {
    display: none;
    height: auto;
    background-image: url("Portrait.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


@media (min-width: 576px) {
    .image-container-top {
        display: none;
    }

    .image-container-right {
        display: block;
        width: 60rem;
    }
}