.form-section {
    width: 95vw;
    margin-top: 6.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
    box-shadow: 1px 1px 5px #e6e7e8, -1px -1px 5px #e6e7e8;
}

.form-title {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
}

.form-input, .form-input-big {
    -webkit-appearance: none;
    outline: none !important;
    align-self: center;
    width: 100%;
    box-shadow: inset 0px 1px 5px #e6e7e8;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0px solid lightgray;
    border-radius: 0.5rem;
}

.form-input:focus, .form-input-big:focus {
    border: 2px solid var(--primary-color);
}

.form-input-big {
    height: 10rem;
}

.form-div {
    height: 4rem;
}

.form-div-big {
    height: auto;
    margin-bottom: 1.25rem;
}


.send-button {
    box-shadow: 1px 1px 5px #e6e7e8, -1px -1px 5px #e6e7e8;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 2rem;
    align-self: center;
    height: 2.75rem;
    width: 12rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.05s ease-in-out;
}

.send-button:hover {
    transform: scale(1.05);
}

@media (min-width: 540px) {
    .form-input, .form-input-big {
        width: 30rem;
    }

    .form-section {
        width: auto;
        margin-top: 6.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}