.intro-container {
    padding-top: 8rem;
    text-align: start;
    width: 75vw;
}

.intro-label {
    font-size: 1rem;
    margin-bottom: 0rem;
}

.intro-name-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0rem;
}

.intro-quip-label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--primary-color)
}

.intro-description-label {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.intro-button {
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.45rem;
    padding: 0.5rem 0.8rem;
    width: 10.5rem;
    height: auto;
    transition: all .05s ease-in-out;
}

.intro-button:hover {
    background-color: var(--secondary-color);
    color: var(--surface-color);
    transform: scale(1.05);
}

.intro-button-text {
    color: var(--surface-color);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

@media (min-width: 576px) {
    .intro-container {
        width: 65vw;
    }

    .intro-label {
        font-size: 1.25rem;
        margin-bottom: 0.25rem;
    }

    .intro-name-label {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
    }

    .intro-quip-label {
        font-size: 2rem;
        font-weight: bold;
    }

    .intro-description-label {
        font-size: 1.25rem;
    }

    .intro-button {
        width: 12rem;
        font-size: 1.2rem;
    }

    .intro-button-text {
        font-size: 1.25rem;
    }
}

@media (min-width: 768px) {
    .intro-container {
        width: 70vw;
    }

    .intro-label {
        font-size: 1.5rem;
        margin-bottom: 0.1rem;
    }

    .intro-name-label {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 0;
    }

    .intro-quip-label {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .intro-description-label {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .intro-button {
        width: 15rem;
        height: 2.9rem;
    }

    .intro-button-text {
        font-size: 1.3rem;
    }
}