<div class="text-center">
  <div class="flex flex-col">
    <div id="Intro" class="self-center">
      <%= render(IntroComponent.new) %>
    </div>

    <div id="About" class="self-center mt-3">
      <%= render(AboutComponent.new) %>
    </div>

    <div id="Tech" class="self-center mt-3">
      <%= render(Tech::TechComponent.new) %>
    </div>
  </div>
</div>
